* {
	margin : 0;
	padding : 0;
}

a {
	color : #437fda;
	text-decoration : none;
}

#header {
	background : #2b548c url('../images/header_bg.png') repeat-x bottom left;
	padding : 4em 4em 1em 4em;
}
#header h1 {
	color : #ffffff;
	font : 240% sans-serif;
    padding-bottom: 1em;
}

a:visited {
	color : #437fda;
	text-decoration : underline;
}
a:hover {
	color : #ba8f43;
}

table, th, td {
    border-collapse: collapse;
    padding-right: 30px;
    padding-bottom: 3px;
}

html {
	color : #565656;
	font : 80%/130% sans-serif;
	text-align : justify;
    overflow:scroll;
}

h2 {
    color: #404040
}

h3 {
    color: #2E74B5;
}

p {
    line-height: 1.5;
    margin-top: 0em;
}

ul {
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 2em;
}

ol {
	padding : 0em 2em 0em 2em;
}

ol li {
    list-style-type:decimal;
    padding: 0 0 1em;
}

ol li ol li {
    list-style-type: lower-alpha;
    padding: 0 0 0em;
}

#main {
	margin : auto;
	max-width : 65em;
	min-width : 40em;
	width : auto !important;
	width : 65em;
}

#menu {
	background : #437fda;
	border-bottom : 1px solid #2b548c;
	font : 120% sans-serif;
}
#menu ul {
	padding : 0.75em 4em;
}
#menu li {
	display : inline;
}
#menu li a {
	color : #ffffff;
	padding : 0.75em 1.5em;
}
#menu li a:hover {
	background : #2b548c;
}
#menu li.selected a {
	background : #ffffff;
	border : 1px solid #2b548c;
	border-bottom : 1px solid #ffffff;
	color : #437fda;
}
#menu li.selected a:hover {
	background : #ffffff;
	color : #ba8f43;
}

#panel, #panel_about, #panel_project {
	background : #efefef;
	border : 1px solid #dfdfdf;
	border-bottom : 1px solid #cfcfcf;
	border-top : none;
	height : auto !important;
	height : 1%;
	overflow : hidden;
	padding : 0 5em 2em 5em;
}

#panel p {
    margin-bottom: 1em;
}

#panel h2{
    padding-bottom: 10px;
}

#panel div.right h3{
    padding-top: 25px;
}

#panel li {
    margin-bottom: 0.5em;
}

#content1 {
    padding : 3em 0em 3em 3em;
}

#content1 h1{
    padding-bottom: 1.5em;
}

#content1 p{
    padding : 1em 0em 0em 0em;
    color: #7c0303;
}

#content2 p {
    margin-bottom: 1em;
}

#content2 h2{
    padding-top: 20px;
}
#footer {
	font-size : 85%;
	margin : auto;
	padding : 1em 0 3em 0;
	text-align : center;
	width : 65%;
}


#panel div {
	padding : 2em 0 0 0;
}

div.left {
	left : -1em;
	float : left;
	position : relative;
	width : 50%;
}

div.right {
	left : 1em;
	float : left;
	position : relative;
	width : 50%;
}

#summary h2{
    padding: 2em 0em 0em 0em;
}
#summary h4{
    padding: 0em 0em 1em 0em;

}

#project h4{
    padding: 1em 0em 0em 0em;
}
#panel_project{
    margin: 5em 5em 5em 5em;
}

#panel_project li{
    padding-bottom: 1em;
}

#panel_about{
    margin: 5em 0em 0em 0em;
}

#panel_about p{
    padding-bottom: 1.2em;
}

#contact h4{
    padding-top: 2em;
}